<nav>
  <ul>
    <li class="<%= active == 'region' ? '.active' : '' %>;">
      <a href="/region">Regions</a>
    </li>
    <li class="<%= active == 'flavor-profile' ? '.active' : '' %>;">
      <a href="/flavor-profile">Flavor Profiles</a>
    </li>
    <li class="<%= active == 'coffee' ? '.active' : '' %>;">
      <a href="/coffee">Coffees</a>
    </li>
  </ul>
</nav>
